### Import necessary libraries

In [1]:
import pandas as pd
import numpy as np

### read the file and create data frame

In [5]:
df = pd.read_excel("Data Science Capstone.xlsx")

###  print head ofthe file

In [7]:
df.head()

  Postal Code       Borough                                      Neighbourhood
0         M9Z  Not assigned                                       Not assigned
1         M9Y  Not assigned                                       Not assigned
2         M9X  Not assigned                                       Not assigned
3         M9W     Etobicoke                Northwest, West Humber - Clairville
4         M9V     Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...

### removing Not assigned values

In [12]:
dt =df[df.Borough != 'Not assigned']

### Print the new Data frame

In [13]:
print(dt)

    Postal Code      Borough  \
3           M9W    Etobicoke
4           M9V    Etobicoke
7           M9R    Etobicoke
8           M9P    Etobicoke
9           M9N         York
..          ...          ...
174         M1H  Scarborough
175         M1G  Scarborough
176         M1E  Scarborough
177         M1C  Scarborough
178         M1B  Scarborough

                                         Neighbourhood
3                  Northwest, West Humber - Clairville
4    South Steeles, Silverstone, Humbergate, Jamest...
7    Kingsview Village, St. Phillips, Martin Grove ...
8                                            Westmount
9                                               Weston
..                                                 ...
174                                          Cedarbrae
175                                             Woburn
176                  Guildwood, Morningside, West Hill
177             Rouge Hill, Port Union, Highland Creek
178                                     Malvern, Rouge

[103 rows x 3 columns]

### print shape of the data frame

In [14]:
dt.shape

(103, 3)